#cardHolder {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD500;
  width: 100%;
  height: 100vh;
  z-index: -10;
}

.cardBackground.slideUp {
  transform: translateY(-80%) !important;
}

.cardUnder.slideUp {
  transform: translateY(0%) !important;
}

.cardUnder {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  align-content: end;
  padding: 0;
  width: 40vh;
  height: 80vh;
  background-color: black;
  z-index: -2;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1.2);
  overflow: hidden;
  transform: translateY(-115%);
}

.cardUnder .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 75%;
  width: 100%;
}

.cardUnder .container .materialIcons {
  font-size: 8vh;
  margin-top: 4vh;
  line-height: 6vh;
  color: white;
  display: block;
  position: relative;
  cursor: pointer;
}


.cardUnder .container .boring {
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }

.cardUnder .container .boring h1 {
  font-family: 'Nimbus Sans L', sans-serif;
  font-weight: bold;
  font-size: 4vh;
  width: 80%;
  color: white;
  margin-left: 3vh;
  margin-bottom: 0;
  padding: 0;
}

.cardUnder .container .boring ol {
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 2.3vh;
  color: white;
  margin-left: 0vh; margin-right: 3vh;
  margin-top: 0.5vh;
  padding-left: 4.5vh;
}

.cardUnder .container .boring ol li {
  margin-right: 0vh;
  margin-left: 0;
  margin-top: 0.5vh;
  line-height: 2.4vh;
  text-align: justify;
}

.cardUnder .container .boring ul.technical {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cardUnder .container .boring ul.technical li::before {
  content: "> "
}

.cardUnder .container .boring ul.technical li {
  font-family: 'Space Mono', sans-serif;
  font-style: italic;
  font-size: 1.5vh;
  color: white;
  margin-left: 2vh;
  margin-top: -0.2vh;
}

.cardBackground {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 40vh;
  height: 70vh;
  background-color: white;
  z-index: 1;
  mask-image:
    radial-gradient(circle at left 70%, transparent 2.5vh, black calc(2.5vh + 1px)),
    radial-gradient(circle at right 70%, transparent 2.5vh, black calc(2.5vh + 1px)),
    linear-gradient(black, black);
  mask-composite: exclude;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1.2);
  transform-origin: 36vh 4vh;
}

.cardBackground.rotated {
  transform: rotate(90deg) !important;
}

.cardBackground .header {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
}

.cardBackground .header .establishmentName {
  position: relative;
  margin-top: 1vh; margin-bottom: 0.4vh; margin-left: 2vh; margin-right: 2vh; 
  width: 65%;
  height: fit-content;
  display: block;
  text-align: left;
  font-family: 'Nimbus Sans L', sans-serif;
  font-weight: bold;
  font-size: 5vh;
  color: #000;
}

.cardBackground .header .establishmentSymbol {
  display: inline-block;
  text-align: center;
  margin: 2vh;
  text-justify: center;
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  background-color: #004BA8;
  overflow: hidden;
  transition-duration: 1s;
  cursor: pointer;
}

.cardBackground .header .establishmentSymbol.rotated {
  background-color: #F50000;
}

.cardBackground .header .establishmentSymbol .materialIcons {
  font-size: 4vh;
  line-height: 6vh;
  vertical-align: middle;
  color: white;
  text-align: center;
  transform-origin: center 9vh;
  transition-duration: 1s;
}

.cardBackground .header .establishmentSymbol .materialIcons.rotated {
  transform: translateY(-6vh) rotate(-90deg);
  display: inline-block;
}

.cardBackground .ripHere {
  position: relative;
  border: none;
  top: 1.6%;
  border-top: 0.4vh dashed #000;
  margin: 2vh 0;
  width: 100%;
}

.turnHere {
  transform: rotate(90deg);
  position: relative;
  display: block;
  margin: 0;
  font-family: 'Nimbus Sans L', sans-serif;
  right: 0;
  top: -15%;
  height: auto;
  line-height: 3vh;
  cursor: pointer;
}

.cardBackground .content {
  position: relative;
  display: grid;
  grid-template-columns: auto 5vh;
  grid-template-rows: auto;
  align-items: center;
  justify-content:space-between;
  height: 48%;
  width: 100%;
}

.cardBackground .content .text{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 2vh;
  top: 0;
  width: auto;
  max-width: 95%;
  height: 100%;
  justify-content: space-between;
}

.cardBackground .content .details {
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 2vh;
  font-style: italic;
}

.cardBackground .content .details p {
  margin: 0;
  display: block;
}

.cardBackground .content .instructions {
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 3vh;
  margin-top: 1vh;
  display: block;
  height: fit-content;
}

.cardBackground .contentBottom {
  position: relative;
  width: 100%;
  height: 30%;
  top: 2.2%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cardBackground .contentBottom .code {
  font-family: 'Space Mono', monospace;
  font-size: 5vh;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 1vh 2vh;
}

.cardReport {
  position: absolute;
  border-radius: 20px;
  align-content: end;
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
  height: 65vh;
  width: 45vh;
  margin-top: 15vh;
  z-index: 5;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1.2);
  overflow: hidden;
  background-color: white;
  transform: translateX(100vw) !important;
}

.cardReport.rotated {
  transform: none !important;
}

.cardReport .topBar {
  position: relative;
  width: 100%;
  height: 5%;
  background-color: #F50000;
  transition-duration: 1s;
}

.cardReport .container {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative
}

.cardReport .container h1 {
  position: relative;
  margin-top: 1vh; margin-bottom: 0.4vh; margin-left: 2vh; margin-right: 2vh;
  height: fit-content;
  display: block;
  text-align: left;
  font-family: 'Nimbus Sans L', sans-serif;
  font-weight: bold;
  font-size: 5vh;
  color: #000;
}

.cardReport .container form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardReport .container .options {
  position: relative;
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  flex-direction: column;
  align-items: justify;
  width: 90%;
}

.cardReport .container .options .option {
  font-family: 'Space Mono', sans-serif;
  line-height: 3vh;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 3vh;
  margin-top: 0.5vh;
  padding-left: 2vh; padding-right: 2vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1.2);
  border-radius: 1vh;
  border: 2px solid black;
  background-color: white;
  padding-top: 1vh; padding-bottom: 1vh;
}

.cardReport .container .options .option.selected {
  background-color: #F50000;
  margin-left: 1vh;
  color: white;

}

.cardReport .container form input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.formButtonNext {
  position: relative;
  display: block;
  right: 0;
  background-color: #F50000;
  color: white;
  font-family: 'Space Mono', sans-serif;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 2vh;
  cursor: pointer;
  border: none;
}

.cardReport .buttonLine {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

.formButtonNext .materialIcons {
  font-size: 6vh;
  padding-bottom: 6vh;
  vertical-align: middle;
  color: white;
  text-align: center;
}

.cardBackground .header .establishmentSymbol.successful, .cardReport .topBar.successful {
  background-color: #128745 !important;
}

@media screen and (max-width: 55vh) {
  .cardReport {
    max-width: 90vw !important;
  }

  .cardReport .container form .option {
    font-size: 2.5vh;
  }

}